@import "./base/fonts";
@import "./base/reset";
@import "./base/variables";
@import "./base/mixins";
@import "../node_modules/basiclightbox/dist/basicLightbox.min";
@import "../node_modules/animate.css/animate.min";

body {
  margin-top: 10px;
  background-color: #333;
}
.app {
  width: 95%;
  max-width: 450px;
  height: 685px;
  margin: 0 auto;
  border: 1px solid #dc1a94;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  background-color: #fff;
  &__header {
    font-family: "Roboto", sans-serif;
    padding: 10px;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    background-color: #dc1a94;
    color: white;
    padding-bottom: 10px;
  }
  &__listHolder {
    position: relative;
    height: 635px;
    overflow: hidden;
    .list {
      padding: 10px;
      padding-top: 0px;
      &__item {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px solid #dc1a94;
        &:last-child {
          border-bottom-width: 0px;
        }
        &__image {
          display: block;
          border: 1px solid #dc1a95;
          border-radius: 10px;
          height: 100px;
          object-fit: cover;
          overflow: hidden;
          width: 100px;
        }
        &__title {
          width: calc(100% - 120px);
          font-family: "Open Sans", sans-serif;
          line-height: 21px;
          color: #333;
        }
        &__date {
          position: absolute;
          right: 0px;
          bottom: 10px;
          font-size: 13px;
          font-family: "Open Sans", sans-serif;
          color: #333;
        }
      }
    }
    .navigation {
      display: flex;
      position: absolute;
      bottom: 5px;
      left: 10px;
      width: calc(100% - 20px);
      justify-content: space-between;
      border-top: 1px solid #dc1a94;
      padding-top: 10px;
      .navigation__next,
      .navigation__prev {
        color: #dc1a94;
      }
    }
  }
}

.loader {
  position: absolute;
  top: 96px;
  left: 50%;
  font-size: 16px;
  text-align: center;
  width: 76px;
  height: 76px;
  background-position: center center;
  background-image: url("../images/spinner.gif");
  margin-left: -38px;
}
////////////////
// body {
//   //width: 100vh;
//   //height: 100vh;
//   background: rgb(91, 66, 114);
//   // font-family: "FontAwesome";
// }

// section {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   margin: 0 auto;
//   background-color: #830b6f;
//   width: 45%;
//   font-family: Helvetica, sans-serif;
//   border: 2px solid #cce3e9;
//   border-radius: 5px;
//   margin-top: 10px;
//   padding: 10px;
//   color: white;
//   button {
//     padding: 2px 10px;
//     border-radius: 3px;
//     margin: 4px 0;
//   }
// }

// div#memory_cardHolder {
//   margin: 0 auto;
//   padding-top: 20px;
//   .memory {
//     width: 600px;
//     height: 600px;
//     margin: auto;
//     display: flex;
//     flex-wrap: wrap;
//     perspective: 1000px;
//     background: rgb(145, 145, 226);
//     &__card {
//       width: calc(25% - 10px);
//       // height: calc(25% - 10px);
//       margin: 5px;
//       background-image: url("../assets/meraki.jpg");
//       position: relative;
//       background-size: cover;
//       border-radius: 5px;
//       transform: scale(1);
//       transform-style: preserve-3d;
//       transition: transform 0.5s;
//       box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
//       // border: 0.1px solid black;
//       &__front {
//         width: 100%;
//         height: 100%;
//         padding: 29px;
//         position: absolute;
//         border-radius: 5px;
//         background: #1c7ccc;
//         backface-visibility: hidden;
//         transform: rotateY(180deg);
//       }
//       &:active {
//         transform: scale(0.97);
//         transition: transform 0.2s;
//       }
//       &--flipped {
//         transform: rotateY(180deg);
//       }
//       &--matched {
//         background: rgb(50, 104, 205);
//         backface-visibility: visible;
//       }
//     }
//   }
// }

// // i.flip {
// //   display: none;
// // }
